/********************* max-width: 1200px********************** */
@media screen and (max-width: 1200px) {
    /* 헤드 네비  */
    .gnb a {
        font-size: 2vw;
    }
    /* ABC 쥬스 유자 공동  오른쪽*/

    h4.htop {
        font-size: 2.6rem;
        line-height: 3rem;
    }

    /* 오른쪽 이미지 */
    .iiibx {
        width: 120px;
        height: auto;
    }

    /* 오른쪽 효능 설명 */
    .iibx p,
    .bgcp .spdes p {
        font-size: 1.6rem;
        line-height: 2rem;
    }
    /* 오른쪽 설정 */

    .iibx,
    .ibx {
        padding-right: 3vw;
        padding-left: 3vw;
    }

    .iibx p {
        margin-top: 14vh;
    }

    .iibx {
        align-items: center;
    }
    .iiibx img.on {
        transform: translateY(150px) translateX(20px);
    }

    /* 회사 기사 */

    article.news img.main {
        width: 600px;
        height: 400px;
    }
    div.ognews ol {
        box-sizing: border-box;
        margin: 5vh auto;
        width: 600px;
    }

    ul.headline li span,
    .artdes p {
        font-size: 1.4rem;
    }
    article.news h4 {
        font-size: 2rem;
        line-height: 1.2;
    }
    /* 회사 후원 설명  */

    .bgcp .spdes {
        height: auto;
    }
    .bgcp .spdes h4 {
        margin: 1.4vh auto;
        font-size: 2rem;
        line-height: 2rem;
    }

    /* contact */
    .bgct input::placeholder,
    .bgct textarea::placeholder,
    select {
        font-size: 1.4rem;
    }
}

/********************* max-width: 1200px********************** */

/********************* max-width: 800px********************** */
@media screen and (max-width: 800px) {
    /********************* max-width: 800px********************** */

    /* 새질문 
    부모가 픽스이고 ,자식이 relative 이면 자식은 relative 맞는가?


    포지션 픽스 

6. 부모요소가 많은,  맨 끝에 꼬리로 있는  자손요소이라도 fixed를 적용하면 보이는 화면을 기준하여 위치를 잡는다.
    
    7. 이미 부모가 fixed 이면 자손 요소는 fixed 를 할 필요가 없다. 

                    8. 활용도
                    1) 스크롤에 관계없이 화면 고정시 
                    2) 화면바깥에 숨겼다가 나타나기
                    3) 보이는 화면을 기준하는 구현의 모든 경우


                    (유의) 배경 고정과는 완전히 다르다.! 배경고정은 보이는 화면을 기준한 박스의 배경이미지를 고정해 주는 것(디스플레이 쇼가 있다.)
                    픽스드 fixed 포지션은 요소를 고정함! 요소가 안 움직임. 디스플레이 쇼가 없다. 

                    부모가 fix이면 자식도 fix이고 
                    부모가 앱솔루트이면 자식도 앱솔루트이다. 
                    ->> 부모가 위치가 잡혔는데, 자식도 위치를 잡기위해 중복을  할필요 없다는 의미임 


*/

    .wrap {
        padding-top: 86px;
    }
    /*/////////////////// 햄버거/////////////////  */
    .top .ham {
        display: block;
    }
    .gnb {
        display: none;
    }

    .tmenu ol.sns {
        display: none;
    }

    .mvbx {
        display: none;
    }

    .top.on .gnb {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        background-color: #f0edcc;
        z-index: 9999;
    }

    .top.on .gnb ul {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-top: 20vh;
    }

    /* li 세팅 */
    .top.on .gnb > ul > li {
        margin: 0;
        height: 10vh;
        border: none;
        width: 100%;
    }

    .top.on .gnb a {
        font-size: 24px;
    }

    .top.on .gnb a:hover {
        color: #222;
        transition-delay: 0.2s;
    }

    /* 로고 */

    .top.on .tarea {
        width: 100vw;
        height: auto;
        padding: 0;
        position: relative;
        display: inline-block;
        margin: 0 auto;
        z-index: 99999;
    }

    .top.on h1.logo > a {
        margin: 8vh auto;
    }
    .top.on .tarea a {
        font-size: 4rem;
    }

    .top.on .tmenu ol.sns {
        flex-direction: row;
        display: flex;
        position: fixed;
        justify-content: space-around;
        z-index: 99999;
        width: 100vw;
        top: 65vh;
        left: 0;
    }

    /* 아래쪽 화살표  */
    .abtn {
        top: 88%;
    }

    .top.on .ham {
        position: fixed;

        top: 0;
        right: 10%;
        z-index: 9999;
        color: #222;
        transform: scale(1.5);
    }

    .top.on .ham::before {
        content: 'x';
    }

    /* 왼쪽 그림  제목*/
    section h2 {
        font-size: 2.6rem;
        line-height: 3rem;
        padding: 3vh 0;
    }

    .subtit h3 {
        font-size: 2rem;
        line-height: 2.6rem;
    }

    /* 회사 기사 */

    .bgc {
        height: auto;
    }
    /* 오른쪽 헤드라인  */
    ul.headline {
        width: auto;
        height: auto;
        flex-direction: row;
    }

    div.ognews ol,
    article.news img.main {
        width: 60vw;
        height: auto;
    }

    ul.headline li {
        position: static;
        padding: 2vh 0;
        border: none;
        border-top: 1.6px solid #02343f;
    }
    ul.headline li span {
        transform: none;
        position: static;

        display: inline;
    }

    article.news {
        flex-direction: column;
    }
    ul.headline li:first-child,
    ul.headline li:nth-child(2) {
        border-right: 1.6px solid #02343f;
        border-bottom: none;
    }

    /* 가로스크롤 없애기 참고  */

    .bgcp .spdes h4 {
        white-space: normal;
    }

    .bgct li,
    button.send span {
        font-size: 1.8rem;
    }

    .bgcp article,
    .bgcp {
        height: auto;
    }
    .bgcp article {
        padding: 5vh 0;
    }

    .bgcp ul {
        gap: 5vh;
        position: static;
        flex-direction: column;
        width: auto;
        height: auto;
    }

    .bgcp li {
        width: 30vw;
    }

    /* contact */
    div.circle {
        width: 100px;
        width: 100px;
    }

    .ctround {
        margin: 5vh auto;
        margin-bottom: 0;
    }

    .bgct input::placeholder,
    .bgct textarea::placeholder,
    select {
        font-size: 1.2rem;
    }

    /*  footer */
    footer.info {
        flex-wrap: wrap;
        font-size: 1.2rem;
    }
} /********************* max-width: 800px********************** */

/********************* max-width: 600px***********************/
@media screen and (max-width: 600px) {
    .bgct li,
    button.send span,
    select {
        font-size: 1.2rem;
    }
}
/********************* max-width: 600px***********************/
