@charset "utf-8";

/* 요소 리셋 css - reset.css */
/* 초기화, 마진0 패딩0 */

/* 1. 마진, 패딩 초기화 */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a figure,
ul,
ol,
li,
dl,
dd {
    margin: 0;
    padding: 0;
}

/* 2. 리스트 초기화 */
ul,
ol {
    list-style: none;
}

/* 3. a 태그 초기화*/
a {
    text-decoration: none;
    color: #222;
}

/* 3. root- html 글자크기셋팅 */
/* rem 단위 계산 편의상 10px */

html {
    font-size: 10px;
}


/* 스크롤바 */
::-webkit-scrollbar {
    /* 전체 스크롤바 크기변경 */
    width: 8px;
}
::-webkit-scrollbar-thumb {
    /* 스크롤바 */
    background-color: #ddd;
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    /* 스크롤바 트랙 배경 */
    background-color: #555;
    border-radius: 5px;
}