.subwrap {
  position: relative;
  padding-top: 178px;
  margin: 0 auto;
  /* height: 100vh; */
}

.searchbx{
  padding-top: 178px;
  margin: 0 auto;
  max-width:1500px
}

#map {
  width: 100%;
  /* heigh7: calc(100vh - 157px); */
  height: 100%;


}

.searchwrap{
  margin: 30px auto;
  width: 100%;
  /* height: calc(100vh - 157px); */
}

.loginwrap{
  padding-top: 40px;
  height: 637px;
  text-align: center;
}


.loginwrap h1{
  font-size:40px;
  transition: 0.6s ease-out ;
}



.loginwrap h1:hover{

  transform: scale(1.4);
}




.mapwrap {
  position: relative;
  height:680px;
  /* margin-top: 204px; */
}

/* 카카오맵 지도  */

.customoverlay {
  position: relative;
  bottom: 85px;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  float: left;
}
.customoverlay:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.customoverlay a {
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  background: #d95050;
  background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px
    center;
}
.customoverlay .title {
  display: block;
  text-align: center;
  background: #fff;
  margin-right: 35px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
}
.customoverlay:after {
  content: '';
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: -12px;
  width: 22px;
  height: 12px;
  background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png');
}



/*검색 */

#search{
display:grid;
grid-template-columns:repeat(3,400px);
gap: 10px;
justify-content: center;
}

#search li {
 margin: 0 auto;
  height: 200px;
  aspect-ratio: 16/9;
  /* 가로: 200= 16:9
  200*16/9
  */
}

#search li img{
  object-fit: fill;
  width: 100%;
  height: 100%;
}




#search li:nth-child(2),#search li:nth-child(3), #search li:nth-child(4),#search li:nth-child(5), #search li:nth-child(10), #search li:nth-child(12), #search li:nth-child(15), #search li:nth-child(18){
  display: none;
}

#search li:nth-child(6){
  display: none;
}
#search li:nth-child(7){
  display: none;
}